---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About">
    <h1>About me</h1>
    <p>
        My name is Jerry and currently I'm
    </p>
    <ul>
        <li>building a bootstrapped startup</li>
        <li>building this website</li>
    </ul>
    <p>
        Previously I spent 5 years working at Meta on network load balancers and health
        checkers. I left in May 2025 to move back to Canada and start working for
        myself.
    </p>

    <h2>Interests</h2>

    <p>
        My primary hobby is rock climbing. Here is my <a href="https://www.mountainproject.com/user/201408805/jerry-liu">Mountain Project profile</a>. Otherwise, I started self hosting after watching a few Youtube videos
        and I like to cosplay sysadmin on that setup.
    </p>
    <p>Reading list coming soon.</p>
</BaseLayout>
