---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About me">
    <p>
        My name is Jerry and currently I'm
        <ul>
            <li>building a bootstrapped startup</li>
            <li>building this website</li>
        </ul>
        Previously I spent 5 years working at Meta on network load balancers and health
        checkers. I left in May 2025 to move back to Canada and start working for
        myself.
    </p>

    <h2>Interests</h2>

    <p>
        My primary hobby is rock climbing. Here is my mountain project
        <a href="https://www.mountainproject.com/user/201408805/jerry-liu"
            >profile</a
        >. Otherwise, I started self hosting after watching a few Youtube videos
        and I like to cosplay sysadmin on that setup.
    </p>
    <p>READING LIST COMING SOON</p>
</BaseLayout>
