---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

export const prerender = true;

const allPosts = await getCollection("posts", ({ data }) => import.meta.env.DEV || !data.draft);
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout pageTitle="Home">
    <ul class="post-list">
        {
            allPosts.map((post) => (
                <li>
                    <a href={`/posts/${post.id}/`}>
                        <span class="post-date">
                            {post.data.pubDate.toLocaleDateString("en-US", {
                                year: "numeric",
                                month: "short",
                                day: "numeric",
                            })}
                        </span>
                        <span class="post-title">{post.data.title}</span>
                    </a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
