---
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<html lang="en">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <body>
        <h1>Posts</h1>
        {
            allPosts.map((post: any) => (
                <li>
                    <a href={post.url}>
                        <time datetime={post.frontmatter.pubDate}>
                            {new Date(
                                post.frontmatter.pubDate,
                            ).toLocaleDateString()}
                        </time>{" "}
                        {post.frontmatter.title}
                    </a>
                </li>
            ))
        }
    </body>


</html>
