---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Posts</h2>
    {
        allPosts.map((post: any) => (
            <li>
                <a href={post.url}>
                    <time datetime={post.frontmatter.pubDate}>
                        {new Date(
                            post.frontmatter.pubDate,
                        ).toLocaleDateString()}
                    </time>{" "}
                    {post.frontmatter.title}
                </a>
            </li>
        ))
    }
</BaseLayout>
