---
const currentPath = Astro.url.pathname;
---

<nav>
    <a href="/" class={currentPath === "/" ? "active" : ""}>home</a>
    <a href="/photos/" class={currentPath.startsWith("/photos") ? "active" : ""}>photos</a>
    <a href="/about/" class={currentPath === "/about/" ? "active" : ""}>about</a>
</nav>

<style>
    .active {
        color: var(--text);
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 1px;
    }
</style>
