---
layout: layouts/base.njk
pageTitle: About
---
<h1>About me</h1>
<p>My name is Jerry and currently I'm</p>
<ul>
  <li>building a bootstrapped startup</li>
  <li>building this website</li>
</ul>
<p>
  Previously I spent 5 years working at Meta on network load balancers and
  health checkers. I left in May 2025 to move back to Canada and start
  working for myself.
</p>

<h2>Interests</h2>

<ul>
  <li>
    Rock climbing. Here is my <a href="https://www.mountainproject.com/user/201408805/jerry-liu">Mountain Project profile</a>.
  </li>
  <li>
    <a href="/photos/">Photography</a>. I take film and digital but
    prefer film since the results feel more special.
  </li>
  <li>
    Self hosting. This is a way to keep up with the latest projects and
    have something to tinker with.
  </li>
</ul>
