---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Jerry Liu</title>
    <link>https://jerryliu.me</link>
    <description>Writing by Jerry Liu</description>
    <atom:link href="https://jerryliu.me/feed.xml" rel="self" type="application/rss+xml" />
    <language>en-us</language>
    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>https://jerryliu.me{{ post.url }}</link>
      <guid>https://jerryliu.me{{ post.url }}</guid>
      <pubDate>{{ post.data.pubDate | dateToRfc822 }}</pubDate>
      <description>{{ post.data.description }}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
