---
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
---

<meta charset="utf-8" />
<html lang="en">
    <Navigation />
    <h1>{pageTitle}</h1>
    <body>
        <slot />
    </body>
</html>
