---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <article>
        <h1>{frontmatter.title}</h1>
        <div class="post-meta">
            <time datetime={frontmatter.pubDate}>
                {new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })}
            </time>
        </div>
        <slot />
    </article>
</BaseLayout>
